.password{
    padding-bottom: 20px;
    input{
        border-radius: 7px;
        border-top: none;
        border-left: none;
        border-color: gray; 
        outline: none;
        font-size: smaller;
    }
    input, label{
        display: block;
    }
    input:focus{
        background-color: azure;
        border-color: orangered;
    }
    input::content{
        padding-inline-start: 5px;
    }
}
.text{
    padding-bottom: 10px;
    input{
        border-radius: 7px;
        border-top: none;
        border-color: gray;
        border-left: none;
        outline: none;
        font-size: smaller;
    }
    input, label{
        display: block;
    }
    input:focus{
        background-color:azure;
        border-color: orangered;
    }
    input::content{
        padding-inline-start: 5px;
    }
}