<!DOCTYPE html>
<div class="">
    <div class="row">
        <div class="col">
            <div class="py-1">{{book.Title}}</div>
            <div class="py-1">{{book.NameWriter}} {{book.SurnameWriter}}</div>
            <div class="py-1">{{book.Type}}</div>
            <div class="py-1">{{book.Language}}</div>
            <div class="py-1">{{book.LocationInLibrary}}</div>
        </div>
    </div>
    <div class="row border-top border-dark d-flex flex-wrap justify-content-between">
            <button class="btn bg-transparent" [ngStyle]="{'visibility':getLogin()?'visible':'hidden'}" (click)="rentBook()">RENT</button>
            <button class="btn bg-transparent" [ngStyle]="{'visibility':getLogin()?'visible':'hidden'}" (click)="giveBackBook()">GIVE BACK</button>
    </div>
</div>
