<!DOCTYPE html>
<div class="">
    <div class="container mx-auto mt-4">
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h4 class="card-title">{{book.Title}}</h4>
                        <h6 class="card-subtitle text-muted">{{book.NameWriter}} {{book.SurnameWriter}}</h6>
                        <p class="card-text">Language: {{book.Language}}</p>
                        <p class="card-text">You can find it in: {{book.LocationInLibrary}}</p>
                        <p class="card-text">Genre: {{book.Type}}</p>
                    </div>
                    <div class="card-footer border-top border-dark text-center">
                        <div *ngIf="getLogin(); then thenBlock else elseBlock"></div>
                        <ng-template #thenBlock>
                            <div class="d-flex flex-wrap justify-content-center">
                                <div class="d-flex border-dark border-end">
                                    <button class="btn bg-transparent" (click)="rentBook()">RENT</button>
                                </div>
                                <div class="d-flex border-dark border-start">
                                    <button class="btn bg-transparent" (click)="giveBackBook()">GIVE BACK</button>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template #elseBlock>
                            <p class="card-text">To rent books, please log in</p>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
