body{
    height: 100%;
}
.login{
    background-color: orangered;
    border-radius: 25%;
    border-top: none;
    border-left: none;
    border-width: 3px;
    border-color: darkgrey;
    color: antiquewhite;

}
.register{
    border-radius: 25%;
    background-color: transparent;
    border: none;
    border-color: gray;
    font-size: smaller;
    font-weight: lighter;
    text-decoration: underline;
}