<!DOCTYPE html>
<div class="h-100 d-flex align-items-center justify-content-center fixed">
  <div class="border rounded border-top-start-0 border-dark p-3">
    <div class="row d-flex justify-content-center py-1">
        <app-input-tile [title]="id" [wrong]="wrongUsername" [message]="messageUsername" (inputEmitter)="handleUsernameEmitted($event)"></app-input-tile>
        <button type="button" class="register" (click)="changeId()">change</button>
    </div>
    <div class="row py-1">
      <app-input-tile [title]="pw" [type]="pw" [wrong]="wrongPassword" [message]="messagePassword" (inputEmitter)="handlePasswordEmitted($event)"></app-input-tile>
    </div>
    <div class="mx-auto d-flex justify-content-center py-2">
      <button type="button" class="btn bg-transparent border rounded border-dark" (click)="loginRequest()" routerLink="/library">Login</button>
      <button type="button" class="register" routerLink="/registration-page">Not registered, yet?</button>
    </div>
  </div>
</div>