body{
    height: 100%;
}
.register{
    border-radius: 25%;
    background-color: transparent;
    border: none;
    border-color: gray;
    font-size: smaller;
    font-weight: lighter;
    text-decoration: underline;
}