<div class="container mx-auto mt-4">
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h4 class="card-title">{{book.Title}}</h4>
                    <h6 class="card-subtitle mb-2 text-muted">{{book.NameWriter}} {{book.SurnameWriter}}</h6>
                    <p class="card-text">Language: {{book.Language}}</p>
                    <p class="card-text">You can find it in: {{book.LocationInLibrary}}</p>
                    <p class="card-text">Genre: {{book.Type}}</p>
                    <a href="#" class="btn mr-2"><i class="fas fa-link"></i> Visit Site</a>
                    <a href="#" class="btn "><i class="fab fa-github"></i> Github</a>
                </div>
            </div>
        </div>
    </div>
</div>