<div class="fixed-top sticky-top">
    <nav class="navbar navbar-dark bg-dark navbar-expand">
      <div class="navbar-nav">
        <div class="border-end">
            <button class="btn bg-blue nav-link login-text" routerLink="/login" *ngIf="!isLoggedIn()">LOGIN</button>
        </div>
        <div class="border-end">
          <button class="btn bg-blue nav-link library-text" routerLink="/library">LIBRARY</button>
        </div>
        <div class="">
          <button class="btn bg-blue nav-link catalogue-text" routerLink="/catalogue">CATALOGUE</button>
        </div>
        <div class="border-start" *ngIf="adminLogged()" >
          <button class="btn bg-blue nav-link catalogue-text" routerLink="/admin">ADMIN</button>
        </div>
        <div class="border-start position-absolute end-0" *ngIf="isLoggedIn()">
          <button class="btn bg-blue nav-link login-text" routerLink="/account">ACCOUNT</button>
        </div>
      </div>
    </nav>
  </div>
  <router-outlet></router-outlet>