<!DOCTYPE html>
<div class="fixed-top sticky-top">
    <nav class="navbar position-relative navbar-expand-lg navbar-light border-bottom border-dark">
        <div class="border-end" [ngStyle]="{'visibility':isLoggedIn()?'hidden':'visible'}">
            <button class="btn bg-transparent" routerLink="/login" >LOGIN</button>
        </div>
        <div class="border-end">
            <button class="btn bg-transparent" routerLink="/library">LIBRARY</button>
        </div>
        <div class="">
            <button class="btn bg-transparent" routerLink="">CATALOGUE</button>
        </div>
        <div class="border-start position-absolute end-0" [ngStyle]="{'visibility':isLoggedIn()?'visible':'hidden'}">
            <button class="btn bg-transparent" routerLink="/account">ACCOUNT</button>
        </div>
    </nav>
</div>
<router-outlet></router-outlet>