@media (min-width: 525px) {
    .h-custom {
    height: 150vh !important;
    }
    }
    .logout-text{
        color: rgb(255, 255, 255);
    }
  h1 {
  color: #e9dfc8;
  padding: 20px;
  border: 10px dashed #ffffff;
  background: linear-gradient(to right, #ffffff, #4d90fe);
  font: 900 1.5rem 'montserrat', sans-serif;
  border-radius: 10px;
  text-shadow: 2px 2px 5px rgba(255, 0, 0, 0.3);
} 