<!DOCTYPE html>

    <div class="container-fluid">
      <div class="row g-0">
        <div class="col-lg-6 vh-100 bg-primary">
        </div>
        <div class="col-lg-3 vh-100 align-items-md">
            <app-input-tile  [title]="id" [type]="id" (inputEmitter)="handleUsernameEmitted($event)"></app-input-tile>
            <app-input-tile  [title]="pw" [type]="pw" (inputEmitter)="handlePasswordEmitted($event)"></app-input-tile>
            <button type="button" routerLink="/homepage">Login</button>
            <button type="button" routerLink="/registration-page">Register</button>
        </div>  
      </div>
    </div>