<!DOCTYPE html>
<div class="h-100 d-flex align-items-center justify-content-center">
  <div class="border rounded border-top-start-0 border-dark p-3">
    <div class="py-1">
      <app-input-tile [title]="username" [wrong]="wrongUsername" [message]="messageUsername" (inputEmitter)="handleUsernameEmitted($event)"></app-input-tile>
    </div>
    <div class="py-1">
      <app-input-tile [title]="email" [wrong]="wrongEmail" [message]="messageEmail" (inputEmitter)="handleEmailEmitted($event)"></app-input-tile>
    </div>
    <div class="py-1">
      <app-input-tile [title]="name" [wrong]="wrongName" [message]="messageName" (inputEmitter)="handleNameEmitted($event)"></app-input-tile>
    </div>
    <div class="py-1">
      <app-input-tile [title]="surname" [wrong]="wrongSurname" [message]="messageSurname" (inputEmitter)="handleSurnameEmitted($event)"></app-input-tile>
    </div>
    <div class="py-1">
      <app-input-tile [title]="pw" [type]="pw" [wrong]="wrongPassword" [message]="messagePassword" (inputEmitter)="handlePasswordEmitted($event)"></app-input-tile>
    </div>
    <div class="py-1">
      <app-input-tile [title]="pwconfirm" [type]="pw" [wrong]="wrongPwconfirm" [message]="messagePwconfirm" (inputEmitter)="handlePwconfirmEmitted($event)"></app-input-tile>
    </div>
    <div class="d-flex justify-content-center py-2">
        <button type="button" class="btn bg-transparent border rounded border-dark" (click)="registrationRequest()">CONFIRM</button>
    </div>
  </div>
</div>